<div class="page14">

    <div class="body"><h1>Побудова обмежень</h1>
        <div><p>Як в усіх обмеженнях змінюють i та j</p>
            <md-radio-group ng-model="vm.page14.test">
                <md-radio-button ng-value="1">
                    <p>i = 1 , 2 , ... , n</p>
                    <p>j = 1 , 2 , ... , n</p>
                </md-radio-button>
                <md-radio-button ng-value="2">
                    <p>i = 1 , 2 , ... , n</p>
                    <p>j = 1 , 2 , ... , m</p>
                </md-radio-button>
                <md-radio-button ng-value="3">
                    <p>i = 1 , 2 , ... , m</p>
                    <p>j = 1 , 2 , ... , m</p>
                </md-radio-button>
                <md-radio-button ng-value="4">
                    <p>i = 1 , 2 , ... , m</p>
                    <p>j = 1 , 2 , ... , n</p>
                </md-radio-button>
            </md-radio-group>
        </div>
        <back-button></back-button>
        <a href="" ng-click="vm.next()">Далі<i class="fas fa-angle-right"></i></a></div>

</div>