<div class="page11">

    <div class="body">
        <task></task>
        <h1>Побудова обмежень</h1>
        <div><p>Складіть обмеження на невід’ємність</p>
            <div class="formula-block" layout="row" layout-align="center">
                <div>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>X</label>
                        <input ng-model="vm.page11.X" maxlength="1">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>i</label>
                        <input ng-model="vm.page11.i" maxlength="1">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>j</label>
                        <input ng-model="vm.page11.j" maxlength="1">
                    </md-input-container>
                </div>
                <div><md-input-container>
                    <label>Знак</label>
                    <md-select ng-model="page11.symbol" >
                        <md-option ng-click="vm.symbol(1)" value="1">&ge;</md-option>
                        <md-option ng-click="vm.symbol(2)" value="2">&le;</md-option>
                        <md-option ng-click="vm.symbol(3)" value="3">&#61;</md-option>
                        <md-option ng-click="vm.symbol(4)" value="4">&ne;</md-option>
                    </md-select>
                </md-input-container>
                </div>
                <div>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>0</label>
                        <input ng-model="vm.page11.O" maxlength="1">
                    </md-input-container>
                </div>


            </div></div>
        <back-button></back-button>
        <a href="" ng-click="vm.next()">Далі<i class="fas fa-angle-right"></i></a></div>

</div>