<div class="page6">

    <div class="body">
        <task></task>
        <h1>Тести</h1>
        <div><p>Як підрахувати вартість перевезення продукту від i-того пунтку відправника до j-того пункту
            призначення</p>
            <div class="formula-block">
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>C</label>
                    <input ng-model="vm.page6.C" maxlength="1">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>i</label>
                    <input ng-model="vm.page6.i" maxlength="1">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>j</label>
                    <input ng-model="vm.page6.j" maxlength="1" >
                </md-input-container>
            </div>
        </div>

        <back-button></back-button>
        <a href="" ng-click="vm.next()">Далі<i class="fas fa-angle-right"></i></a></div>

</div>