//directive`s style

a.back_button{
   text-decoration: none;
   position: absolute;
   bottom: 10px;
   left: 10px;
   color: #ffffff;
   text-transform: uppercase;
   font-size: 30px;
   width: 120px !important;
 }