<div class="page16">

    <div class="body"><h1>Результат</h1>
        <div><p style="text-align: center">Ви побудували математичну модель транспортної задачі</p>
            <div layout="row" layout-align="center center">
                <div><img src="../../content/img/1.12%20-1.png" alt=""></div>
                <div><img src="../../content/img/1.14%20-%201.png" alt=""></div>
                <div><img src="../../content/img/1.15%20-%201.png" alt=""></div>
                <div><img src="../../content/img/1.16.png" alt=""></div>
            </div>
        </div>
        <back-button></back-button>
        <a href="" ng-click="vm.next()">Далі<i class="fas fa-angle-right"></i></a></div>

</div>