<div class="page7">

    <div class="body"><h1>Введіть межі підсумовування</h1>
        <div><p>Як обчилити сумарну вартість перевезень від i-того пункту відравлення всім пунктам призначення</p>
            <div class="formula-block">
                <div>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>n</label>
                        <input ng-model="vm.page6.i" maxlength="1">
                    </md-input-container>
                    <p>&sum;</p>
                    <p style="float: left; width: auto">j =
                        <md-input-container class="md-block" flex-gt-sm="" style="float: right">
                            <label>i</label>
                            <input ng-model="vm.page6.i" maxlength="1">
                        </md-input-container>
                    </p>
                </div>
                <div>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>C</label>
                        <input ng-model="vm.page6.C" maxlength="1">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>i</label>
                        <input ng-model="vm.page6.i" maxlength="1">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>j</label>
                        <input ng-model="vm.page6.j" maxlength="1">
                    </md-input-container>
                </div>
                <div>5678</div>
                <div>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>X</label>
                        <input ng-model="vm.page6.C" maxlength="1">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>i</label>
                        <input ng-model="vm.page6.i" maxlength="1">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>j</label>
                        <input ng-model="vm.page6.j" maxlength="1">
                    </md-input-container>
                </div>


            </div>
        </div>
        <back-button></back-button>
        <a href="" ng-click="vm.next()">Далі<i class="fas fa-angle-right"></i></a></div>

</div>