<div class="page10">

    <div class="body"><h1>Побудова обмежень</h1>
        <div><p>Які обмеження потрібно описати</p>
            <md-radio-group ng-model="vm.page10.test">
                <md-radio-button ng-value="1">на обсяг виробництва: <img src="../content/img/1.14.1.png" alt=""></md-radio-button>
                <md-radio-button ng-value="2">на попит: <img src="../content/img/1.15.1.png" alt=""></md-radio-button>
                <md-radio-button ng-value="3">X<span>ij</span> &ge; 0 на невідємніть усіх змінних</md-radio-button>
                <md-radio-button ng-value="4">на неперевищення заданої вартості</md-radio-button>
            </md-radio-group></div>
        <back-button></back-button>
        <a href="" ng-click="vm.next()">Далі<i class="fas fa-angle-right"></i></a></div>

</div>