<div class="page15">

    <div class="body"><h1>Побудова обмежень</h1>
        <div layout="column" ><p>Чи згідгно умов задачі наявний баланс попиту і виробництва?</p>
            <div>formula</div>
            <md-radio-group ng-model="vm.page15.test">
                <md-radio-button ng-value="1">Так</md-radio-button>
                <md-radio-button ng-value="2">Ні</md-radio-button>
            </md-radio-group></div>
        <back-button></back-button>
        <a href="" ng-click="vm.next()">Далі<i class="fas fa-angle-right"></i></a></div>

</div>