<div class="page2">

    <div class="body"><h1>Умова задачі</h1>
        <div><p>Потрібно скласти план перевозу однорідного вантажу пунктів відправлення
            A<span>1</span>,...,A<span>m</span> , в кожному з яких є a<span>1</span>,...,a <span>m</span> вантажу
            відповідно, в пункти призначення B<span>1</span>,...,B<span>n</span> з потребами b<span>1</span>,..., b
            <span>n</span> одиниць вантажу таким чином, щоб задовольнити запити всіх
            споживачів і мінімізувати сумарну вартість перевезень. Вартість перевезень c<span>ij</span>одиниці вантажу з A<span>i</span>
            в B<span>j</span>
            відома .</p>
        </div>
        <back-button></back-button>
        <a href="" ng-click="vm.next()">Далі<i class="fas fa-angle-right"></i></a></div>

</div>