<div class="page4">

    <div class="body"><h1>Тести</h1>
        <div><p>Згадаємо як позначается вартість перевезення одиниці продукції з кожного вихідного пункту в кожен пункт призначення</p>
            <md-radio-group ng-model="vm.page4.test">
                <md-radio-button ng-value="1">x<span>ij</span> - кількість продукції, що перевозится з n<span>i</span> до n<span>j</span></md-radio-button>
                <md-radio-button ng-value="2">x<span>ij</span> - вартість перевезення з n<span>i</span> до n<span>j</span></md-radio-button>
                <md-radio-button ng-value="3">x<span>ij</span> - довжина від пункту i до пункту j</md-radio-button>
                <md-radio-button ng-value="4">x<span>ij</span> - попит для перевезення з пункту i до пункту j</md-radio-button>
            </md-radio-group></div>

        <a href="" ng-click="vm.next()">Далі<i class="fas fa-angle-right"></i></a></div>

</div>