<div class="page5">

    <div class="body"><h1>Тести</h1>
        <div><p>Щоб правильно</p>
            <md-radio-group ng-model="vm.page5.test">
                <md-radio-button ng-value="1">мінімізуеться сумарна вартість перевезень</md-radio-button>
                <md-radio-button ng-value="2">максимізуется сумарна вартість перевезень</md-radio-button>
                <md-radio-button ng-value="3">максимізуется сумарний обсяг виробництва</md-radio-button>
                <md-radio-button ng-value="4">мінімізуеться сумарний обсяг виробництва</md-radio-button>
            </md-radio-group></div>

        <a href="" ng-click="vm.next()">Далі<i class="fas fa-angle-right"></i></a></div>

</div>