<div class="page3">

    <div class="body"><h1>Тести</h1>
        <div><p>З яких частин складаються математичні моделі оптимізаційної задачі</p>
            <md-radio-group ng-model="vm.page3.test">
                <md-radio-button ng-value="1">з цільової функції</md-radio-button>
                <md-radio-button ng-value="2">з цільової функції та обмежень</md-radio-button>
                <md-radio-button ng-value="3">з вимог замовника</md-radio-button>
                <md-radio-button ng-value="4">з обмежень</md-radio-button>
            </md-radio-group>
        </div>
        <back-button></back-button>
        <a href="" ng-click="vm.next()">Далі<i class="fas fa-angle-right"></i></a></div>

</div>